@model WebCafePoly.Models.KhachHang

@{
    ViewData["Title"] = "Hồ sơ khách hàng";
}

<h2>Hồ sơ khách hàng</h2>

@if (ViewBag.ThongBao != null)
{
    <div class="alert alert-success">
        @ViewBag.ThongBao
    </div>
}

<form asp-action="HoSoKhachHang" method="post">

    <input asp-for="MaKhachHang" type="hidden" />
    <input asp-for="TrangThai" type="hidden" />

    <div class="mb-3">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="SoDienThoai"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DiaChi"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MatKhau"></label>
        <input asp-for="MatKhau" type="password"
               value="@Model.MatKhau"
               id="MatKhau"
                class="form-control" />
        <span asp-validation-for="MatKhau" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input"
               type="checkbox"
               id="showPassword"
               onclick="togglePassword()">

        <label class="form-check-label" for="showPassword">
            Hiện mật khẩu
        </label>
    </div>

    <button type="submit" class="btn btn-primary">
        Cập nhật
    </button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function togglePassword() {
            var x = document.getElementById("MatKhau");

            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
}
