@model IEnumerable<WebCafePoly.Models.PhieuBanHang>

<table class="table">
    <thead>
        <tr>
            <th>Mã phiếu</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaPhieu</td>
                <td>@item.NgayTao</td>
                <td>@(item.TrangThai ? "Đã thanh toán" : "Chưa thanh toán")</td>
                <td>
                    <a href="/Customer/ChiTietHoaDon?id=@item.MaPhieu">
                        Test Chi tiết
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>