@model IEnumerable<WebCafePoly.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}
<h2 class="mb-3">Quản lý sản phẩm</h2>
<form method="get" class="mb-3">

    <div class="row">

        <div class="col-md-4">
            <input type="text"
                   id="txtTimKiem"
                   class="form-control"
                   placeholder="Nhập tên sản phẩm..." />
        </div>

        @* <div class="col-md-2">
            <button class="btn btn-primary">
                Tìm kiếm
            </button>
        </div> *@

    </div>

</form>

<p>
    <a asp-action="Create">➕ Thêm sản phẩm</a>
</p>
<div id="ketQuaTimKiem">
    <partial name="_PhanBangSanPham" model="Model" />
</div>

@section Scripts
{
    <script>
        document.getElementById("txtTimKiem").addEventListener("keyup", function () {
            console.log("Đang gõ...");

            let tuKhoa = this.value;

            fetch("/SanPhams/TimKiem?timkiem=" + encodeURIComponent(tuKhoa))
                .then(response => response.text())
                .then(html => {
                    document.getElementById("ketQuaTimKiem").innerHTML = html;
                });

        });
    </script>
}
