@model WebCafePoly.Models.PhieuBanHang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhieuBanHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPhieu" />
            <div class="form-group">
                <label asp-for="MaKhachHang" class="control-label"></label>
                <input asp-for="MaKhachHang" class="form-control" />
                <span asp-validation-for="MaKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaThe" class="control-label"></label>
                <input asp-for="MaThe" class="form-control" />
                <span asp-validation-for="MaThe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control" />
                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-check-input" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTietPhieus" class="control-label"></label>
                <input asp-for="ChiTietPhieus" class="form-control" />
                <span asp-validation-for="ChiTietPhieus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhachHangNavigation" class="control-label"></label>
                <input asp-for="MaKhachHangNavigation" class="form-control" />
                <span asp-validation-for="MaKhachHangNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhanVienNavigation" class="control-label"></label>
                <input asp-for="MaNhanVienNavigation" class="form-control" />
                <span asp-validation-for="MaNhanVienNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTheNavigation" class="control-label"></label>
                <input asp-for="MaTheNavigation" class="form-control" />
                <span asp-validation-for="MaTheNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
