<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCafePoly</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebCafePoly.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">WebCafePoly☕</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                Trang chủ
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="SanPhams" asp-action="Index">
                                Sản phẩm
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="LoaiSanPhams" asp-action="Index">
                                Loại sản phẩm
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="KhachHangs" asp-action="Index">
                                Khách hàng
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="NhanViens" asp-action="Index">
                                Nhân viên
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="PhieuBanHangs" asp-action="Index">
                                Phiếu bán
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ChiTietPhieus" asp-action="Index">
                                Chi tiết phiếu
                            </a>
                        </li>

                        @* Nhân viên *@
                        @if (Context.Session.GetString("HoTen") != null)
                        {
                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    @Context.Session.GetString("HoTen")
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Home"
                                           asp-action="Index">
                                            Trang quản trị
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item text-danger"
                                           asp-controller="DangNhap"
                                           asp-action="DangXuat">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (Context.Session.GetString("HoTenKhachHang") != null)
                        {
                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    @Context.Session.GetString("HoTenKhachHang")
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Customer"
                                           asp-action="HoSoKhachHang">
                                            Hồ sơ
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Customer"
                                           asp-action="GioHang">
                                            Giỏ hàng
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Customer"
                                           asp-action="LichSuDonHang">
                                            Lịch sử đơn hàng
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item text-danger"
                                           asp-controller="GuestAccount"
                                           asp-action="DangXuat">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    Tài khoản
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="GuestAccount"
                                           asp-action="DangKy">
                                            Đăng ký khách hàng
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="GuestAccount"
                                           asp-action="DangNhap">
                                            Đăng nhập khách hàng
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="DangNhap"
                                           asp-action="Login">
                                            Đăng nhập nhân viên
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - WebCafePoly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
